= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  %fieldset
    %legend Edit #{resource_name.to_s.humanize}
    %div
      = f.label :name
      = f.text_field :name, :autofocus => true
      - if resource.errors[:name].present?
        %span.error-explain= "#{resource_class.human_attribute_name('name')} #{resource.errors[:name].join('; ')}"
    %div
      = f.label :email
      = f.email_field :email, :autofocus => true
      - if resource.errors[:email].present?
        %span.error-explain= "#{resource_class.human_attribute_name('email')} #{resource.errors[:email].join('; ')}"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently awaiting confirmation for: #{resource.unconfirmed_email}
    - if resource.provider.present? && resource.encrypted_password.present?
      %div
        = check_box_tag "user[remove_password]"
        = label_tag "user[remove_password]", 'Remove password'
        %span.explain (For OpenID users; prevent login by username and password)
    %div
      = f.label :password
      = f.password_field :password, :autocomplete => "off"
      - if resource.errors[:password].present?
        %span.error-explain= "#{resource_class.human_attribute_name('password')} #{resource.errors[:password].join('; ')}"
      %span.explain (leave blank if you don't want to change it)
    %div
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      - if resource.errors[:password_confirmation].present?
        %span.error-explain= "#{resource_class.human_attribute_name('password_confirmation')} #{resource.errors[:password_confirmation].join('; ')}"
    %div= f.submit "Update"
%fieldset
  %legend Delete my account
  %p
    Had enough drafting? Clicking the button below will delete your account. We'll miss you.
    #{button_to "Delete my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'danger'}
= link_to "Back", :back
