!!! html5
%html
  %head
    %title Multidraft
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %header
      %nav
        - if user_signed_in?
          Signed in as #{link_to current_user.name, edit_user_path(current_user)}
        - else
          = (link_to 'Sign up', new_user_registration_path) + " | " + (link_to 'Sign in', new_user_session_path)
      #site-logo Multidraft

      #flash
        %p.notice= notice
        %p.alert= alert

    = yield
